.contacts{
    position: relative;
    height: 100%;
   &__text{
       position: absolute;
       bottom: 0;
       right: 0;
       margin: 30px;
       font-size: 2rem;
   }
}

@media screen and (max-width: 740px) {
    .contacts{
        height: 100%;
        width: 100%;
        margin-top: 100px;
       &__text{
           float: center;
           right: 0;
           left: 0;
           display: flex;
           text-align: center;
           align-items: center;
           justify-content: center;
           font-size: 1.5rem;
       }
    }
}